@import "tailwindcss";

@theme {
  --color-brand-cream: #FDF1D3;
  --color-brand-orange: #D97706;
  --color-brand-light-orange: #FEF3C7;
  --color-brand-dark: #723804;

  /* NEW: Custom Shadow Template 
     Usage: className="shadow-card"
  */
  --shadow-card: 0 30px 60px -15px rgba(0, 0, 0, 0.3), inset 0 2px 5px 1px rgba(0, 0, 0, 0.4);
}

/* Reset all default Vite constraints */
:root {
  width: 100%;
  background-color: white; /* Forces the background to be white/cream instead of black */
}

body {
  margin: 0;
  padding: 0;
  display: block; /* Removed flex and place-items: center */
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden; /* Prevents the horizontal scroll/gap */
}

/* Smooth scrolling for your Navbar links */
html {
  scroll-behavior: smooth;
}

/* Custom Animation for the floating food in Hero */
@keyframes bounce-slow {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}

.animate-bounce-slow {
  animation: bounce-slow 4s ease-in-out infinite;
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-12px); }
}

@keyframes floatSlow {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-6px); }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}

.animate-floatSlow {
  animation: floatSlow 6s ease-in-out infinite;
}